.app-container {
  background-color: var(--background);
  display: flex;

  justify-content: center;
}

.app-card {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}
